{% extends "base.html" %}
{% block title %}Venta{% endblock %}
{% block content %}
<form class="newSale" id="newSale" method="post">
  <div class="bg-dark pl-3 pb-2 pt-2 mt-2">
    <label for="name" class="text-white text-center">Nombre</label>
    <input type="text" class="name bg-dark text-white text-center col-lg-4"  id="name" name="name"/>
    <label for="address" class="text-white text-center">Dirección</label>
    <input type="text" class="address bg-dark text-white text-center col-lg-6" id="address" name="address" />
  </div>
  <div class="bg-dark pl-3 pb-2 pt-2 mt-2">
    <label for="phone" class="text-white text-center">Teléfono</label>
    <input type="number" class="phone bg-dark text-white text-center" id="phone" name="phone"  />
    <label for="date" class="pl-3 text-white text-center">Fecha</label>
    <input type="date"  class="date bg-dark text-white text-center" id="date" name="date" />
  </div>
 
<input type="hidden" value="" id="saleData" name="saleData" class="saleData" />
<input type="hidden" value="" id="getNeto" name="getNeto" class="getNeto" />
<input type="hidden" value="" id="getIva" name="getIva" class="getIva" />
<input type="hidden" value="" id="getTotal" name="getTotal" class="getTotal" />
</form>
  <div class="pt-3">
    <table class="table table-striped table-dark text-center">
      <thead>
        <tr>
          <th scope="col">Fruta</th>
          <th scope="col">Precio Por Kilo</th>
          <th scope="col">Kilos</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {% for fruit,price,stock in data %}
        <tr>
          {% if stock.center == "Santiago" and stock.kilo > 0%}
          <td>{{ fruit.fruit }}</td>
          <td><input type="number" value="{{price.price}}" name="price" class="price text-center bg-dark text-white" id="price{{fruit.fruit_id}}" placeholder="{{price.price}}" disabled></td>
          <td><input type="number" value="0" max="{{stock.kilo}}" name="kilos" id="kilos{{fruit.fruit_id}}" class="kilos text-center bg-dark text-white" oninput="if(this.value>{{stock.kilo}})this.value={{stock.kilo}}" onchange="subtotalFruta({{fruit.fruit_id}},{{price.price}});kilos({{fruit.fruit_id}},{{stock.id}})"></td>
          <td><input type="number" value="0" name="subtotal" id="subtotal{{fruit.fruit_id}}" class="subtotal text-center bg-dark text-white" disabled></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <div class="float-right">
    <div class="bg-dark pr-5">
      <label for="sub" class="text-white text-center px-3">Neto</label>
      <input type="number" name="sub" id="sub" class="sub text-center text-white bg-dark float-right" disabled placeholder="0" value="0">
    </div>
    <div class="bg-dark  pr-5">
      <label for="iva" class="text-white text-center px-3">IVA</label>
      <input type="number" name="iva" id="iva" class="iva text-center text-white bg-dark float-right" disabled placeholder="0" value="0">
    </div>
    <div class="bg-dark pr-5">
      <label for="totaliva" class="text-white text-center px-3">Total</label>
      <input type="number" name="totaliva" id="totaliva" class="totaliva text-center text-white bg-dark float-right" disabled placeholder="0" value="0">
    </div>
  </div>
    <button class="btn btn-primary hidden-print d-print-none" onclick="window.print(); return false;"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Imprimir</button>
    <button class="btn btn-primary hidden-print d-print-none" onclick="save_sale()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Guardar</button>
  </div>
  <form class="edit" id="edit" method="post">
    <input
      type="hidden"
      value=""
      id="price_id"
      name="price_id"
      class="price_id"
    />
    <input type="hidden" value="" id="precio" name="precio" class="precio" />
  </form>

<script>

  function subtotalFruta(fruit_id, price){
    var kilo = $('#kilos' + fruit_id).val();
    if (kilo > 0){
      var sub = kilo * price;
      $("#subtotal" + fruit_id).val(sub);
      subtotal();
    }else{
      $("#subtotal" + fruit_id).val(0);
      subtotal();
    }
  }

  var kilogramo = new Array;

  function subtotal(){
    var sub = 0;
    $(".subtotal").each(function(){
         sub += parseInt($(this).val());
    });
    total(sub);
    $(".sub").val(sub);
  }

  function total(sub){
    var iva = (sub * 0.19)
    $(".iva").val(parseInt(iva));
    var totalIva = parseInt(iva + sub);
    $(".totaliva").val(totalIva);
  }

  function kilos(fruit_id,stock_id){
    var kilo = $('#kilos' + fruit_id).val();
    var subFruit = $('#subtotal' + fruit_id).val();
    var kg = kilo + "+" + fruit_id + "+" + stock_id + "+" + subFruit;
    if (kilogramo.length > 0){
      kilogramo.forEach(function(kgs){
        var [a,id,stock] = kgs.split("+");
        if (id == fruit_id){
          var idx = kilogramo.indexOf(kgs);
          if (idx !== -1){
            kilogramo.splice(idx,1);
          } 
        }
      });
    }
    kilogramo.push(kg);
  }

  function save_sale(){
    if (confirm("¿Quieres guardar el registro?") == true) {
      name = $("#name").val();
      address = $("#address").val();
      phone = $("#phone").val();
      date = $("#date").val();
      if (kilogramo.length > 0 && name !== "" & address !== "" && phone !== "" && date !== ""){
        $("#saleData").val(kilogramo);
        $("#getNeto").val($("#sub").val())
        $("#getIva").val($("#iva").val())
        $("#getTotal").val($("#totaliva").val())
        $("#newSale").attr("action", "new_sale").submit();
      }else{
        alert("Debe rellenar todos los campos")
      }
        
      }
  }

</script>

{% endblock %}