{% extends "base.html" %} {% block title %}Stock{% endblock %} {% block content
%}
<div class="pt-3">
  <table class="table table-striped table-dark text-center">
    <thead>
      <tr>
        <th scope="col">Fruta</th>
        <th scope="col">Kilos</th>
        <th scope="col">Centro Distribución</th>
      </tr>
    </thead>
    <tbody>
      {% for fruit, stock in data %}
      <tr>
        <td>{{ fruit.fruit }}</td>
        <td contenteditable="true">{{ stock.kilo }}</td>
        <td>{{ stock.center }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary editbtn"
            onclick="edit_stock({{stock.id}})"
          >
            Editar
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            onclick="delete_stock({{ stock.id}})"
          >
            Borrar
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<form class="edit" id="edit" method="post">
  <input
    type="hidden"
    value=""
    id="id_stock"
    name="id_stock"
    class="id_stock"
  />
  <input type="hidden" value="" id="kilos" name="kilos" class="kilos" />
</form>

<script>
  function delete_stock(stock_id) {
    if (confirm("¿Quieres eliminar este registro?") == true) {
      $("#id_stock").val(stock_id);
      $("#edit").attr("action", "delete_stock").submit();
    }
  }

  function edit_stock(stock_id) {
    kilo = $("#kilo").text();
    var validNumber = new RegExp(/^\d*\.?\d*$/);
    if (!validNumber.test(kilo)) {
      alert("Ha ingresado una cantidad incorrecta de Kilos");
    } else if (kilo == "") {
      alert("Ha ingresado una cantidad incorrecta de Kilos");
    } else {
      if (confirm("¿Quieres modificar el registro?") == true) {
        $("#id_stock").val(stock_id);
        $("#kilos").val(kilo);
        $("#edit").attr("action", "edit_stock").submit();
      }
    }
  }
</script>
{% endblock %}
